.idea/*
__pycache__/*
build/*
dsit/*
Robert Williams Practical Assessment/*
assessment.spec
CH.ico
games_data.json
README.txt
Robert Williams Practical Assessment.rar
Robert Williams Practical Assessment.zip
Untitled.png